
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Manrope', sans-serif;
  width: 100vw;
  border: 10px;
}

.gallerySection{
  background-image: url("../resources//assets/home/desktop/pattern-circles.svg");
}